    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(assets/images/banner/bnr3.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Listings Left Sidebar</h1>
					<p>Find awesome places, bars, restaurants & activities.</p>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a routerLink="/">Home</a></li>
							<li>Listings Left Sidebar</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- contact area -->
        <div class="content-block">
			<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="sticky-top">
								<div class="listing-filter-sidebar">
									<h4 class="title m-b30">Filter By</h4>
									<form>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="What are your looking for?">
											</div>
										</div>
										<div class="form-group">
											<div class="input-group">
												<input type="text" class="form-control" placeholder="Your location">									
											</div>
										</div>
										<div class="form-group">
											<select> 
												<option> Category</option>
												<option>ConstrSelectuction</option>
												<option>Corodinator</option>
												<option>Employer</option>
												<option>Financial Career</option>
												<option>Information Technology</option>
												<option>Marketing</option>
												<option>Quality check</option>
												<option>Real Estate</option>
												<option>Sales</option>
												<option>Supporting</option>
												<option>Teaching</option> 
											</select>
										</div>
										<div class="form-group">
											<div id="price-range">
												<div class="price-slide-2 range-slider m-t30">
													<div class="price">
														<div id="slider-range-2"></div>
														<label>Radius Destination</label>
														<input type="text" id="distance" class="amount" readonly="" value="2km - 100km"/>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="listing-filter-sidebar">
									<h4 class="title">Filter By Tag</h4>
									<div class="widget_tag">
										<ul class="m-b0">
											<li><a href="javascript:void(0);">Travel</a> (28+)</li>
											<li><a href="javascript:void(0);">Foods</a> (39+) </li>
											<li><a href="javascript:void(0);">Rivery</a> (76+) </li>
											<li><a href="javascript:void(0);">Organic</a> (47+) </li>
											<li><a href="javascript:void(0);">Medicine</a> (36+) </li>
										</ul>
									</div>
								</div>
								<div class="add p-tb30">
									<img src="assets/images/add/add1.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-6">
							<div class="listing-filter m-b40">
								<div class="d-flex">
									<div class="mr-auto">
										<ul class="filter m-b0">
											<li>
												<select> 
													<option>More Filters</option>
													<option>Construction</option>
													<option>Corodinator</option>
													<option>Employer</option>
													<option>Financial Career</option>
													<option>Information Technology</option>
													<option>Marketing</option>
													<option>Quality check</option>
													<option>Real Estate</option>
													<option>Sales</option>
													<option>Supporting</option>
													<option>Teaching</option> 
												</select>
											</li>
										</ul>
									</div>
									<div>
										<ul class="filter-icon m-b0">
											<li><a href="javascript:void(0)"><i class="fa fa-th"></i></a></li>
											<li><a href="javascript:void(0)"><i class="fa fa-th-list"></i></a></li>
											<li><a href="javascript:void(0)"><i class="fa fa-search"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic1.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>						
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic2.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>		
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic3.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>			
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic4.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic5.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>	
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic6.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>				
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic7.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>					
										</ul>
									</div>
								</div>
								<div class="col-lg-6 col-md-12 col-sm-6 m-b30">
									<div class="listing-bx overlap">
										<div class="listing-media">
											<img src="assets/images/listing/pic8.jpg" alt="">
										</div>
										<div class="listing-info">
											<ul class="featured-star">
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												<li><i class="fa fa-star"></i></li>
												
											</ul>
											<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										</div>
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
											<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>						
										</ul>
									</div>
								</div>
							</div>
							<!-- Pagination start -->
							<div class="pagination-bx clearfix text-center">
								<ul class="pagination">
									<li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
									<li><a href="javascript:void(0)">1</a></li>
									<li><a href="javascript:void(0)">2</a></li>
									<li><a href="javascript:void(0)">...</a></li>
									<li class="active"><a href="javascript:void(0)">7</a></li>
									<li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
								</ul>
							</div>
							<!-- Pagination END -->
						</div>
					</div>
				</div>
			</div>
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->