<header class="site-header header-transparent mo-left">
		<!-- main header -->
        <div class="sticky-header main-bar-wraper navbar-expand-lg">
            <div class="main-bar clearfix ">
                <div class="container clearfix">
                    <!-- website logo -->
                    <div class="logo-header mostion">
						<a routerLink="/" class="logo-1"><img src="assets/images/logo-white-1.png" alt=""></a>
						<a routerLink="/" class="logo-2"><img src="assets/images/logo-black-1.png" alt=""></a>
					</div>
                    <!-- nav toggle button -->
                    <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>
                    <!-- extra nav -->
                    <div class="extra-nav">
                        <div class="extra-cell">
                            <a routerLink="/register" class="site-button-link white"><i class="ti-import m-r5 rotate90"></i> Sign In</a>
							<a routerLink="/add-listing" class="site-button radius-xl m-l10"><i class="fa fa-plus m-r5"></i> Add Listing</a>
                        </div>
                    </div>
                    <!-- main nav -->
                    <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                        <ul class="nav navbar-nav">              
							<li class="down active"><a href="javascript:void(0);">Home <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a routerLink="/">Home 1</a></li>
									<li><a routerLink="/index-2">Home 2<span class="tag-new">New</span></a></li>
									<li><a routerLink="/index-3">Home 3<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="javascript:void(0);">Pages <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a routerLink="/coming-soon">Coming Soon</a></li>
									<li><a routerLink="/error-404">Error 404</a></li>
									<li><a routerLink="/contact-us">Contact Us</a></li>
									<li><a routerLink="/register">Register<span class="tag-new">New</span></a></li>
								</ul>
							</li>
							<li class="down"><a href="javascript:void(0);">Listings <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a routerLink="/add-listing">Add Listing<span class="tag-new">New</span></a></li>
									<li><a href="javascript:void(0);">Listings <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a routerLink="/listing">Listing</a></li>
											<li><a routerLink="/listing-left-sidebar">Listing Left Sidebar</a></li>
											<li><a routerLink="/listing-right-sidebar">Listing Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="javascript:void(0);">Listing Grid <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a routerLink="/listing-grid-left-sidebar">Left Sidebar</a></li>
											<li><a routerLink="/listing-grid-right-sidebar">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="javascript:void(0);">Listing Map <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a routerLink="/listing-grid-map-left-sidebar">Left Sidebar</a></li>
											<li><a routerLink="/listing-grid-map-right-sidebar">Right Sidebar</a></li>
										</ul>
									</li>
									<li><a href="javascript:void(0);">Listing Details <i class="fa fa-angle-right"></i></a>
										<ul class="sub-menu">
											<li><a routerLink="/listing-details">Listing Details 1</a></li>
											<li><a routerLink="/listing-details-2">Listing Details 2<span class="tag-new">New</span></a></li>
											<li><a routerLink="/listing-details-3">Listing Details 3<span class="tag-new">New</span></a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="down"><a href="javascript:void(0);">Blog <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu">
									<li><a routerLink="/blog-standard">Blog</a></li>
									<li><a routerLink="/blog-details">Blog Details</a></li>
								</ul>
							</li>
							<li><a routerLink="/contact-us">Contact Us</a></li>
						</ul>		
                    </div>
                </div>
            </div>
        </div>
        <!-- main header END -->
    </header>