    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(assets/images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Ajouter une annonce</h1>
					<p>Trouvez des endroits, bars, restaurants et activités incroyables.</p>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a routerLink="/">Accueil</a></li>
							<li>Ajouter une annonce</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
		
        <!-- contact area -->
        <div class="section-full content-inner">
            <div class="container">
				<div class="row">
					<!-- Left part start -->
					<div class="col-lg-12">
						<div class="highlight-bx">
							<h4 class="title">Déjà inscrit ? Veuillez <a href="#" class="btn-link">vous connecter</a>. Si vous êtes un <strong>nouvel utilisateur, continuez ci-dessous</strong> et créez votre compte avec cette soumission.</h4>
						</div>
					</div>
					<div class="col-xl-8 col-lg-7 col-md-12 m-b30">
						<form class="add-listing-form">
							<div class="content-box">
								<div class="content-header">
									<h3 class="title"> DÉTAILS PRINCIPAUX DE L'ANNONCE
											<i data-toggle="tooltip" data-placement="top" title="Détails principaux de l'annonce" class="tooltip-bx fa fa-question-circle"></i>
									</h3>
								</div>
								<div class="content-body">
									<div class="form-group">
										<label>Nom de l'annonce</label>
										<input type="text" class="form-control m-b10" placeholder="Hôtel Staple & Fancy">
										<div data-toggle="collapse" data-target="#tagline" role="button" aria-expanded="false" aria-controls="tagline">
											<input id="check1" type="checkbox">
											<label for="check1">Votre établissement a-t-il un slogan ?</label>
										</div>
									</div>
									<div class="form-group collapse" id="tagline">
										<label>Slogan</label>
										<input type="text" class="form-control" placeholder="Exemple de slogan : Le meilleur grill mexicain express">
									</div>	
									<div class="form-group">
										<label>URL de l'annonce</label>
										<input type="text" class="form-control" placeholder="http://">
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="content-header">
									<h3 class="title"> CATÉGORIE & SERVICES
									<i data-toggle="tooltip" data-placement="top" title="Catégorie & Services" class="tooltip-bx fa fa-question-circle"></i>
									</h3>
								</div>
								<div class="content-body">
									<div class="form-group">
										<label>Secteur d'activité </label>
										<select>
											<option>Arts &amp; Divertissement</option>
											<option>Sport &amp; Fitness</option>
											<option>Commerces locaux</option>
											<option>Circuits &amp; Voyages</option>
											<option>Hôtellerie</option>
										</select>
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="content-header">
									<h3 class="title"> RÉSEAUX SOCIAUX
									<i data-toggle="tooltip" data-placement="top" title="Réseaux sociaux" class="tooltip-bx fa fa-question-circle"></i>
									</h3>
								</div>
								<div class="content-body">
									<div class="add-social-link social-btn-container">
										<div class="input-group">
											<select id="mySelect">
												<option>Instagram</option>
												<option>LinkedIn</option>
												<option>Facebook</option>
											</select>	
											<input type="text" class="form-control" placeholder="http://">
											<div class="input-group-prepend">
												<button class="site-button btn-block add-social-btn" type="button"><i class="fa fa-plus"></i> Ajouter</button>
											</div>
										</div>	
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="content-header">
									<h3 class="title">PLUS D'INFOS
									<i data-toggle="tooltip" data-placement="top" title="Plus d'informations" class="tooltip-bx fa fa-question-circle"></i>
									</h3>
								</div>
								<div class="content-body editor">
									<div class="form-group ">
										<label>Description</label>
										<input name="input" type="text" value="<b>My contents are from <u><span style=&quot;color:rgb(0, 148, 133);&quot;>INPUT</span></u></b>" class="jqte-test">
									</div>
									<div class="form-group">
										<label>Mots-clés (séparés par des virgules)</label>
										<textarea class="form-control" id="input-tags">exemple, tri, autocomplétion, édition sur place,</textarea>
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="content-header">
									<h3 class="title"> MÉDIAS
										<i data-toggle="tooltip" data-placement="top" title="Médias" class="tooltip-bx fa fa-question-circle"></i>
									</h3>
								</div>
								<div class="content-body">
									<div class="form-group">
										<label>Vidéo de votre établissement (facultatif)</label>
										<input type="text" class="form-control" placeholder="https://www.youtube.com/">
									</div>
									<div class="form-group">
										<label>Télécharger le logo de l'établissement</label>
										<input type="file" accept=".xlsx,.xls,image/*,.doc,audio/*,.docx,video/*,.ppt,.pptx,.txt,.pdf" multiple>
									</div>
								</div>
							</div>
							<div class="content-box">
								<div class="content-header">
									<h3 class="title"> ADRESSE E-MAIL
										<i data-toggle="tooltip" data-placement="top" title="Adresse e-mail" class="tooltip-bx fa fa-question-circle"></i>
									</h3>
								</div>
								<div class="content-body">
									<div class="form-group">
										<input type="text" class="form-control" placeholder="votre e-mail de contact">
										<div class="input-block m-t20">
											<input id="already-account" type="checkbox">
											<label for="already-account">Vous avez déjà un compte ?</label>
										</div>
									</div>
								</div>
							</div>
							<button class="site-button btn-block button-md">Aperçu de l'annonce</button>
						</form>							
					</div>
					<!-- blog END -->
					<!-- Side bar start -->
					<div class="col-xl-4 col-lg-5 col-md-12 m-b30 sticky-top">
						<aside class="side-bar listing-side-bar">
							<div class="content-box">
								<div class="content-header">
									<h3 class="title"><i class="la la-map-signs m-r5"></i>Infos établissement</h3>
								</div>
								<div class="content-body">
									<ul class="icon-box-list">
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-envelope"></i>
											</div>
											<span>info&#64;example.com</span>
										</a></li>
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-phone"></i>
											</div>
											<span>+91 1 234 5648</span>
										</a></li>
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-globe"></i>
											</div>
											<span>https://bizmap.dexignzone.com</span>
										</a></li>
										<li><a href="javascript:void(0);" class="icon-box-info">
											<div class="icon-cell bg-gray">
												<i class="la la-map-marker"></i>
											</div>
											<span>Démo Adresse n°8901 Route de Marmora</span>
										</a></li>
									</ul>
									<ul class="list-inline m-tb20">
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-facebook"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-google-plus"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-linkedin"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);" class="site-button radius-no sharp"><i class="fa fa-twitter"></i></a></li>
									</ul>
									<a href="#" class="site-button outline outline-1 button-md btn-block"><i class="la la-envelope"></i> Messages</a>
								</div>
							</div>
							<div class="content-box">
								<div class="content-header">
									<h3 class="title">Publicité</h3>
								</div>
								<div class="content-body">
									<img class="img-cover" src="assets/images/add/add1.jpg" alt="">
								</div>
							</div>							
						</aside>
					</div>
					<!-- Side bar END -->
				</div>
            </div>
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->