    <!-- Content -->
    <div class="page-content bg-white">
        <!-- Section Banner -->
		<div class="dlab-bnr-inr bnr-style2" style="background-image:url(assets/images/main-slider/slide6.jpg); background-size: cover;">
            <div class="container-fluid">
                <div class="dlab-bnr-inr-entry">
					<div class="slide-filter-bx">
						<div class="filter-style2-area">
							<div class="filter-style3">
								<form class="dezPlaceAni">
									<div class="form-head">
										<h4 class="title">Find Nearby Attractions</h4>
										<p>Let's uncover the best places to eat, drink, and shop nearest to you.</p>
									</div>	
									<div class="form-group">
										<label class="title">What are you looking for?</label>
										<input type="text" class="form-control" placeholder="">
									</div>	
									<div class="form-group">
										<label class="title">Location</label>
										<input type="text" class="form-control" placeholder="">
									</div>	
									<div class="form-group">
										<select> 
											<option>Select Category</option>
											<option>Construction</option>
											<option>Corodinator</option>
											<option>Employer</option>
											<option>Financial Career</option>
											<option>Marketing</option>
											<option>Supporting</option>
											<option>Teaching</option> 
										</select>
									</div>
									<button class="site-button btn-block black"> Search</button>
								</form>
							</div>
						</div>
						<div class="location-carousel-bx">
							<div class="bnr-content text-white">
								<h1>Explore your place <br/>easy with us.</h1>
								<div class="owl-location-carousel owl-btn-1 owl-btn-center-lr owl-dots-none owl-carousel">
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="assets/images/featured/pic7.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a routerLink="/listing-details">London</a></h5>
												<ul class="featured-category">
													<li> 18+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="assets/images/featured/pic3.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a routerLink="/listing-details">United States</a></h5>
												<ul class="featured-category">
													<li> 12+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="assets/images/featured/pic4.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a routerLink="/listing-details">Korea</a></h5>
												<ul class="featured-category">
													<li> 09+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="item">
										<div class="featured-bx style3">
											<div class="featured-media">
												<img src="assets/images/featured/pic5.jpg" alt=""/>
											</div>	
											<div class="featured-info">
												<h5 class="title"><a routerLink="/listing-details">Japan</a></h5>
												<ul class="featured-category">
													<li> 30+ Listing</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
		<!-- Section Banner END -->
		<div class="content-block" id="page_content">
            <!-- Popular Category -->
			<div class="section-full content-inner-1">
				<div class="container max">
					<div class="category-list p-b10">
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-cart-of-ecommerce"></i></span> 
							</div>
							<h4 class="title">carts</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-place"></i></span> 
							</div>
							<h4 class="title">Tours</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-pill-capsule"></i></span> 
							</div>
							<h4 class="title">medicine</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-shop"></i></span> 
							</div>
							<h4 class="title">Shopping</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-birthday-cake"></i></span> 
							</div>
							<h4 class="title">Food</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-city-hall"></i></span> 
							</div>
							<h4 class="title">Culture</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-city-hall-1"></i></span> 
							</div>
							<h4 class="title">Cuisine</h4>
						</a>
						<a href="javascript:void:;" class="category-bx style1">
							<div class="icon-bx">
								<span class="icon-cell"><i class="flaticon-place"></i></span> 
							</div>
							<h4 class="title">Tours</h4>
						</a>
					</div>
				</div>
			</div>
            <!-- Popular Category End -->
			<!-- Featured Destinations -->
            <div class="section-full bg-white content-inner owl-out">
                <div class="container">
					<div class="section-head text-black text-center">
						
						<h2 class="box-title">Popular Cities</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="popular-cities-carousel owl-carousel owl-btn-2 owl-btn-center-lr primary">
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="assets/images/destinations/pic11.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">London</a></h4>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="assets/images/destinations/pic12.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">United States</a></h4>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="assets/images/destinations/pic13.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">Korea</a></h4>
								</div>
							</div>
						</div>
						<div class="items">
							<div class="featured-bx style1 m-b30">
								<div class="featured-media">
									<div class="featured-hover"></div>
									<div class="overlay-black-light">
										<img src="assets/images/destinations/pic14.jpg" alt=""/>
									</div>
								</div>
								<div class="featured-info">
									<h4 class="title"><a href="javascript:void:0;">Japan</a></h4>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
			<!-- Our Services -->
			<div class="section-full bg-gray-1 content-inner about-us overlay-black-dark owl-out" style="background-image:url(assets/images/background/bg1.jpg); background-position: top;">
                <div class="container  max">
					<div class="section-head text-white text-left text-center">
						<h2 class="box-title">Best Things to Do in the City</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="site-filters clearfix center m-b40 listing-filters text-white">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class=""></i>All</span></a> 
							</li>
							<li data-filter="latest-listings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-thumb-tack"></i> Latest Listings</span></a> 
							</li>
							<li data-filter="popular-ratings" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-star-o"></i> Popular Ratings</span></a> 
							</li>
							<li data-filter="near-by-you" class="btn">
								<input type="radio">
								<a href="javascript:void(0);" class="site-button-link"><span><i class="la la-heart-o"></i> Near By You</span></a> 
							</li>
 						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="dlab-gallery-listing gallery-grid-4 gallery row sp10">
							<li class="near-by-you design card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic1.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>						
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic2.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">Dorado Health Care</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic3.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">Tam Farfhume Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="near-by-you latest-listings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic4.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							 <li class="near-by-you popular-ratings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic5.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">Venzil Hingo Zoo</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic6.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">KFC Pijja Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="near-by-you popular-ratings card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic1.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">Venzil Hingo Zoo</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="popular-ratings latest-listings photography card-container col-lg-3 col-md-6 col-sm-6">
								<div class="listing-bx featured-star-right m-b10 style-2">
									<div class="listing-media">
										<img src="assets/images/listing/list2/pic2.jpg" alt="">
										<ul class="wish-bx">
											<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i> Like</a></li>					
										</ul>
										<ul class="featured-star">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>	
										</ul>
									</div>
									<div class="listing-info">
										<h3 class="title"><a routerLink="/listing-details">KFC Pijja Shop</a></h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm.</p>
										<ul class="place-info">
											<li class="place-location"><i class="fa fa-map-marker"></i>12/a, New</li>
											<li class="open"><i class="fa fa-check"></i>Open Now</li>
										</ul>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
            <!-- Our Services -->
			<!-- Why Choose Us -->
			<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="section-head text-center">
						<h2 class="box-title">How It Works?</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row work-box-area">
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">1</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Choose Location</h3>
									<i class="flaticon-place"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">2</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Pick Category</h3>
									<i class="flaticon-team"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">3</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Explore Place</h3>
									<i class="flaticon-city-hall-1"></i>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-6">
							<div class="work-box">
								<div class="number-box bounce-in">4</div>
								<div class="icon-box">
									<h3 class="dlab-tilte">Enjoy Your Day</h3>
									<i class="flaticon-city-hall"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Chose Us End -->
			<!-- Online Community -->
			<div class="section-full bg-white content-inner-2 bg-img-fix overlay-black-dark owl-out" style="background-image:url(assets/images/background/bg1.jpg); background-position: left bottom;">
                <div class="container">
					<div class="section-head text-center text-white">
						<h2 class="box-title">What Our Users Say</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="row">
								<div id="owl-demo" class="testimonial-one owl-loaded owl-theme owl-carousel owl-btn-center-lr owl-btn-3 btn-white owl-dots-primary-big style-2">
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="assets/images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="assets/images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
									<div class="item">
										<div class="testimonial-2 testimonial-bg">
											<div class="testimonial-text">
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an printer took a galley of type and scrambled it to make [...]</p>
											</div>
											<div class="testimonial-detail clearfix">
												<div class="testimonial-pic quote-left radius shadow"><img src="assets/images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
												<strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Client</span> 
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Online Community End -->
			<!-- Top Featured Locations -->
			<div class="section-full bg-white content-inner-2">
                <div class="container max">
					<div class="section-head text-black text-center">
						<h2 class="box-title">Top Featured Locations</h2>
						<div class="dlab-separator bg-primary"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
					<div class="row m-lr0 featured-style2-area">
						<div class="col-lg-6 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-12 col-md-12 col-sm-12 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="assets/images/featured/pic1.jpg" alt="">
											<div class="featured-type featured-top">
												TOP <br/>FEATURED
                                            </div>
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">London</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12 p-lr0">
							<div class="row m-lr0">
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="assets/images/featured/pic4.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Japan</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="assets/images/featured/pic5.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="assets/images/featured/pic2.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">United States</a></h2>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 p-lr0">
									<div class="featured-bx style2">
										<div class="featured-media">
											<img src="assets/images/featured/pic3.jpg" alt="">
										</div>
										<div class="featured-content text-white">
											<h2 class="title"><a href="#">Korea</a></h2>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Top Featured Locations End -->
			<!-- Featured Destinations -->
            <div class="section-full bg-gray-1 content-inner owl-out">
                <div class="container">
					<div class="section-head text-black text-center">
						<h2 class="box-title">From The Blog</h2>
						<div class="dlab-separator bg-black"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
					</div>
                    <div class="blog-carousel owl-carousel owl-btn-2 primary owl-btn-center-lr">
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a routerLink="/blog-details"><img src="assets/images/blog/grid/pic8.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a routerLink="/blog-details">Tarvel</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a routerLink="/blog-details">7 Moments To Remember From Directory.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>Achieving only 1 out of the 4 (traffic, opt-in, conversion, email) doesn’t do much help either.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a routerLink="/blog-details">John Doe</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a routerLink="/blog-details">12 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a routerLink="/blog-details"><img src="assets/images/blog/grid/pic9.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a routerLink="/blog-details">Foods</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a routerLink="/blog-details">Directory Will Be A Thing Of The Past.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>Knowing that, you’ve optimised your pages countless amount of times, written tons of eye catching.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a routerLink="/blog-details">Rosalina</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a routerLink="/blog-details">08 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="blog-post dez-blog">
								<div class="dlab-post-media"> 
									<a routerLink="/blog-details"><img src="assets/images/blog/grid/pic10.jpg" alt=""/></a> 
								</div>
								<div class="dlab-info">
									<div class="category-tag">
										<a routerLink="/blog-details">Hotel</a>
									</div>
									<div class="dlab-post-title ">
										<h5 class="post-title"><a routerLink="/blog-details">Ten Things Your Competitors Know About.</a></h5>
									</div>
									<div class="dlab-post-text">
									   <p>As desperate as you are right now, you have done everything you can on your website to say.</p>
									</div>
									<div class="dlab-post-meta">
										<ul>
											<li class="post-author"><i class="icon-user"></i>By <a routerLink="/blog-details">John Smith</a> </li>
											<li class="post-comment"><i class="icon-speech"></i> <a routerLink="/blog-details">03 Comments</a> </li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
			<!-- Featured Destinations End -->
        </div>
		<!-- contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->