    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(assets/images/banner/bnr3.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">More Listings</h1>
					<p>Find awesome places, bars, restaurants & activities.</p>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a routerLink="/">Home</a></li>
							<li>Listings</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <!-- Contact area -->
        <div class="content-block">
			<div class="section-full content-inner bg-white">
				<div class="container">
					<div class="listing-filter m-b40">
						<div class="d-flex">
							<div class="mr-auto">
								<ul class="filter m-b0">
									<li>
										<select> 
											<option>Default Filters</option>
											<option>Construction</option>
											<option>Corodinator</option>
											<option>Employer</option>
											<option>Financial Career</option>
											<option>Information Technology</option>
											<option>Marketing</option>
											<option>Quality check</option>
											<option>Real Estate</option>
											<option>Sales</option>
											<option>Supporting</option>
											<option>Teaching</option> 
										</select>
									</li>
									<li>
										<select> 
											<option>Distance Radius</option>
											<option>Construction</option>
											<option>Corodinator</option>
											<option>Employer</option>
											<option>Financial Career</option>
											<option>Information Technology</option>
											<option>Marketing</option>
											<option>Quality check</option>
											<option>Real Estate</option>
											<option>Sales</option>
											<option>Supporting</option>
											<option>Teaching</option> 
										</select>
									</li>
									<li>
										<select> 
											<option>More Filters</option>
											<option>Construction</option>
											<option>Corodinator</option>
											<option>Employer</option>
											<option>Financial Career</option>
											<option>Information Technology</option>
											<option>Marketing</option>
											<option>Quality check</option>
											<option>Real Estate</option>
											<option>Sales</option>
											<option>Supporting</option>
											<option>Teaching</option> 
										</select>
									</li>
								</ul>
							</div>
							<div>
								<ul class="filter-icon m-b0">
									<li><a href="javascript:void(0)"><i class="fa fa-th"></i></a></li>
									<li><a href="javascript:void(0)"><i class="fa fa-th-list"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic1.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic2.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic3.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic4.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic5.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic6.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic7.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic8.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic9.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic10.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic11.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 m-b30">
							<div class="listing-bx overlap">
								<div class="listing-media">
									<img src="assets/images/listing/pic12.jpg" alt="">
								</div>
								<div class="listing-info">
									<ul class="featured-star">
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										
									</ul>
									<h3 class="title"><a routerLink="/listing-details">King Organic Shop</a></h3>
								</div>
								<ul class="wish-bx">
									<li><a class="like-btn" href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
									<li><a class="info-btn" href="javascript:void(0)"><i class="fa fa-leaf"></i></a></li>									
								</ul>
							</div>
						</div>
					</div>
					<!-- Pagination start -->
					<div class="pagination-bx clearfix text-center">
						<ul class="pagination">
							<li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
							<li><a href="javascript:void(0)">1</a></li>
							<li><a href="javascript:void(0)">2</a></li>
							<li><a href="javascript:void(0)">...</a></li>
							<li class="active"><a href="javascript:void(0)">7</a></li>
							<li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
						</ul>
					</div>
					<!-- Pagination END -->
				</div>
			</div>
		</div>
		<!-- Contact area END -->
    </div>
    <!-- Content END-->
	<!-- Footer -->