    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(assets/images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Blog Standard</h1>
					<p>Find awesome places, bars, restaurants & activities.</p>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a routerLink="/">Home</a></li>
							<li>Blog Standard</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-7 col-lg-8 col-xl-8">
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum1.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Doe</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>12 July</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">Ten Unconventional Knowledge About Directory Blog That You Can't Learn From Books.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>As desperate as you are right now, you have done everything you can on your website to say to Google “This is a relevant content!” But ouch, your site doesn't seem to be ranking no matter what. </p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum2.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Rosalina</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>25 Oct</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">Seven Awesome Things You Can Learn From Directory Blog.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>You will see in the guide all my years of valuable experience together with the latest data-proven results from getting a bunch of traffic to your website to making tons of REAL money for you!</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum3.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Smith</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>05 Jan</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">The Biggest Contribution Of Directory Blog To Humanity.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Through the Guide, you will learn to STOP your website from getting bunch of traffic because I will show you how to get only the real traffic that gives you real conversion at the end of the day.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum4.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Robin Hood</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>20 Feb</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">20 Wonderful Directory Blog. Number 16 is Absolutely Stunning.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>When I needed to start from scratch and figure out how things work. Getting people to visit your website is easy until you realize that these bunch of traffic is not the exact traffic that you want.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="READ MORE" rel="bookmark" class="site-button button-md radius-xl">READ MORE</a>
								</div>
                            </div>
                        </div>
                        <!-- Pagination start -->
                        <div class="pagination-bx clearfix text-center">
							<ul class="pagination">
								<li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
								<li><a href="javascript:void(0)">1</a></li>
								<li><a href="javascript:void(0)">2</a></li>
								<li><a href="javascript:void(0)">...</a></li>
								<li class="active"><a href="javascript:void(0)">7</a></li>
								<li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
							</ul>
						</div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-md-5 col-lg-4 col-xl-4 sticky-top">
                        <aside  class="side-bar blog-sidebar">
							<div class="widget">
                                <h4 class="widget-title">Search</h4>
                                <div class="search-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" type="text" class="form-control" placeholder="Search your keyword...">
                                            <span class="input-group-btn">
												<button type="submit" class="site-button"><i class="fa fa-search"></i></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
							<div class="widget widget_gallery">
								<h4 class="widget-title">Instagram</h4>
                                <ul>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic1.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic2.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic3.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic4.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic5.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic6.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic7.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic8.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic9.jpg" alt=""></div></a></li>
                                </ul>
                            </div>
							<div class="widget widget_share">
								<h4 class="widget-title">Follow Us</h4>
								<ul class="list-inline m-b0">
									<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
							<div class="widget widget_tag">
								<h4 class="widget-title">Categories</h4>
								<ul class="m-b0">
									<li><a href="javascript:void(0);">Lifestyle</a> (05)</li>
									<li><a href="javascript:void(0);">Travel</a> (34) </li>
									<li><a href="javascript:void(0);">Fashion</a> (89) </li>
									<li><a href="javascript:void(0);">Music</a> (96) </li>
									<li><a href="javascript:void(0);">Branding</a> (78) </li>
								</ul>
							</div>
							<div class="widget recent-posts-entry">
								<h4 class="widget-title">Feeds</h4>
								<div class="widget-post-bx">
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img1.jpg" width="200" height="143" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Alonso Kelina Falao Asiano Pero</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 08 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img2.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">It is a long established fact that a reader</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 07 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img3.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Many desktop publish packages and web</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 06 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img4.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Various versions have evolved over the years</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 02 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img5.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Photo booth anim 8-bit PBR 3 wolf moon.</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> 01 Hours ago</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widget widget_tag_cloud">
								<h4 class="widget-title">Tags</h4>
								<div class="tagcloud"> 
									<a href="javascript:void(0)">Travel</a> 
									<a href="javascript:void(0)">Lifestyle</a> 
									<a href="javascript:void(0)">Photo</a> 
									<a href="javascript:void(0)">Adventures</a> 
									<a href="javascript:void(0)">Musician</a> 
									<a href="javascript:void(0)">08</a>
									<a href="javascript:void(0)">Travel</a> 
									<a href="javascript:void(0)">Lifestyle</a> 
									<a href="javascript:void(0)">Photo</a> 
									<a href="javascript:void(0)">Adventures</a> 
									<a href="javascript:void(0)">Musician</a> 
									<a href="javascript:void(0)">08</a> 
								</div>
							</div>
							<div class="add p-b30">
								<img src="assets/images/add/add1.jpg" alt="">
							</div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->