    <!-- Content -->
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle" style="background-image:url(assets/images/banner/bnr2.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Blog</h1>
					<p>Trouvez des endroits, bars, restaurants et activités incroyables.</p>
					<!-- Breadcrumb row -->
					<div class="breadcrumb-row">
						<ul class="list-inline">
							<li><a routerLink="/">Accueil</a></li>
							<li>Blog</li>
						</ul>
					</div>
					<!-- Breadcrumb row END -->
                </div>
            </div>
        </div>
        <!-- inner page banner END -->
        <div class="section-full content-inner">
            <div class="container">
                <div class="row">
                    <!-- Left part start -->
                    <div class="col-md-7 col-lg-8 col-xl-8">
                        <div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum1.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Doe</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>12 July</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">Dix connaissances insolites sur les répertoires de blogs que vous ne trouverez pas dans les livres.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Aussi déterminé que vous soyez, vous avez tout mis en œuvre sur votre site pour signaler à Google que votre contenu est pertinent. Pourtant, votre site peine à se positionner dans les résultats de recherche.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="LIRE LA SUITE" rel="bookmark" class="site-button button-md radius-xl">LIRE LA SUITE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum2.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Rosalina</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>25 Oct</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">Sept choses fascinantes que vous pouvez apprendre grâce aux répertoires de blogs.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Ce guide rassemble des années d'expérience précieuse et des résultats prouvés par les données, de l'acquisition de trafic sur votre site jusqu'à la génération de revenus réels.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="LIRE LA SUITE" rel="bookmark" class="site-button button-md radius-xl">LIRE LA SUITE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum3.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">John Smith</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>05 Jan</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">La plus grande contribution des répertoires de blogs à l'humanité.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Grâce à ce guide, vous apprendrez à cibler uniquement le trafic qualifié qui génère de vraies conversions, plutôt que d'attirer des visiteurs sans valeur ajoutée.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="LIRE LA SUITE" rel="bookmark" class="site-button button-md radius-xl">LIRE LA SUITE</a>
								</div>
                            </div>
                        </div>
						<div class="blog-post blog-lg list-blog-bx">
                            <div class="dlab-post-media dlab-img-effect zoom-slow">
								<a routerLink="/blog-details"><img src="assets/images/blog/default/thum4.jpg" alt=""></a>
							</div>
                            <div class="dlab-post-info">
                                <div class="dlab-post-meta">
									<ul class="d-flex align-items-center">
                                        <li class="post-author"><i class="ti-user"></i>By <a href="javascript:void(0);">Robin Hood</a> </li>
                                        <li class="post-date"> <i class="ti-alarm-clock"></i><strong>20 Feb</strong><span> 2020</span></li>
                                    </ul>
                                </div>
								<div class="dlab-post-title ">
                                    <h3 class="post-title"><a routerLink="/blog-details">20 répertoires de blogs remarquables. Le numéro 16 est absolument époustouflant.</a></h3>
                                </div>
                                <div class="dlab-post-text">
                                    <p>Quand j'ai dû repartir de zéro pour comprendre le fonctionnement des choses. Attirer des visiteurs sur son site est facile, jusqu'au jour où l'on réalise que ce trafic n'est pas celui que l'on recherche vraiment.</p>
                                </div>
                                <div class="dlab-post-readmore blog-share"> 
									<a routerLink="/blog-details" title="LIRE LA SUITE" rel="bookmark" class="site-button button-md radius-xl">LIRE LA SUITE</a>
								</div>
                            </div>
                        </div>
                        <!-- Pagination start -->
                        <div class="pagination-bx clearfix text-center">
							<ul class="pagination">
								<li class="previous"><a href="javascript:void(0)"><i class="fa fa-arrow-left"></i></a></li>
								<li><a href="javascript:void(0)">1</a></li>
								<li><a href="javascript:void(0)">2</a></li>
								<li><a href="javascript:void(0)">...</a></li>
								<li class="active"><a href="javascript:void(0)">7</a></li>
								<li class="next"><a href="javascript:void(0)"><i class="fa fa-arrow-right"></i></a></li>
							</ul>
						</div>
                        <!-- Pagination END -->
                    </div>
                    <!-- Left part END -->
                    <!-- Side bar start -->
                    <div class="col-md-5 col-lg-4 col-xl-4 sticky-top">
                        <aside  class="side-bar blog-sidebar">
							<div class="widget">
                                <h4 class="widget-title">Recherche</h4>
                                <div class="search-bx">
                                    <form role="search" method="post">
                                        <div class="input-group">
                                            <input name="text" type="text" class="form-control" placeholder="Rechercher un mot-clé...">
                                            <span class="input-group-btn">
												<button type="submit" class="site-button"><i class="fa fa-search"></i></button>
                                            </span> 
										</div>
                                    </form>
                                </div>
                            </div>
							<div class="widget widget_gallery">
								<h4 class="widget-title">Instagram</h4>
                                <ul>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic1.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic2.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic3.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic4.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic5.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic6.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic7.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic8.jpg" alt=""></div></a></li>
                                    <li><a href="javascript:void(0);"><div class="dlab-post-thum"><img src="assets/images/gallery/pic9.jpg" alt=""></div></a></li>
                                </ul>
                            </div>
							<div class="widget widget_share">
								<h4 class="widget-title">Suivez-nous</h4>
								<ul class="list-inline m-b0">
									<li><a href="javascript:void(0);" class="site-button facebook circle "><i class="fa fa-facebook"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button google-plus circle "><i class="fa fa-google-plus"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button linkedin circle "><i class="fa fa-linkedin"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button instagram circle "><i class="fa fa-instagram"></i></a></li>
									<li><a href="javascript:void(0);" class="site-button twitter circle "><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
							<div class="widget widget_tag">
								<h4 class="widget-title">Catégories</h4>
								<ul class="m-b0">
									<li><a href="javascript:void(0);">Style de vie</a> (05)</li>
									<li><a href="javascript:void(0);">Voyage</a> (34) </li>
									<li><a href="javascript:void(0);">Mode</a> (89) </li>
									<li><a href="javascript:void(0);">Musique</a> (96) </li>
									<li><a href="javascript:void(0);">Communication</a> (78) </li>
								</ul>
							</div>
							<div class="widget recent-posts-entry">
								<h4 class="widget-title">Articles récents</h4>
								<div class="widget-post-bx">
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img1.jpg" width="200" height="143" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Alonso Kelina Falao Asiano Pero</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> il y a 08 heures</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img2.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">C'est un fait bien établi qu'un lecteur</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> il y a 07 heures</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img3.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">De nombreux logiciels de publication et sites web</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> il y a 06 heures</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img4.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Différentes versions ont évolué au fil des années</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> il y a 02 heures</li>
												</ul>
											</div>
										</div>
									</div>
									<div class="widget-post clearfix">
										<div class="dlab-post-media"> <img src="assets/images/blog/recent-blog-2/img5.jpg" width="200" height="160" alt=""> </div>
										<div class="dlab-post-info">
											<div class="dlab-post-header">
												<h6 class="post-title"><a href="javascript:void(0);">Photomaton animé 8-bit sous la lune des loups.</a></h6>
											</div>
											<div class="dlab-post-meta">
												<ul>
													<li class="post-date"><i class="ti ti-alarm-clock"></i> il y a 01 heure</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="widget widget_tag_cloud">
								<h4 class="widget-title">Mots-clés</h4>
								<div class="tagcloud">
									<a href="javascript:void(0)">Voyage</a>
									<a href="javascript:void(0)">Style de vie</a>
									<a href="javascript:void(0)">Photo</a>
									<a href="javascript:void(0)">Aventures</a>
									<a href="javascript:void(0)">Musicien</a>
									<a href="javascript:void(0)">08</a>
									<a href="javascript:void(0)">Voyage</a>
									<a href="javascript:void(0)">Style de vie</a>
									<a href="javascript:void(0)">Photo</a>
									<a href="javascript:void(0)">Aventures</a>
									<a href="javascript:void(0)">Musicien</a>
									<a href="javascript:void(0)">08</a>
								</div>
							</div>
							<div class="add p-b30">
								<img src="assets/images/add/add1.jpg" alt="">
							</div>
                        </aside>
                    </div>
                    <!-- Side bar END -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content END-->
	<!-- Footer -->